<div class="card texto col-sm-12 col-md-12">
  <img src="assets/fondo-calidad.png" class="card-img" alt="ASOPROGED">
  <div class="card-img-overlay py-2">
    <div class="container-fluid py-5"></div>
    <div class="container col-xl-10 col-sm-12 col-md-12 py-3 d-none d-xl-block">
      <h1 class="card-title px-3 col-4 text-center font-weight-bold">PRODUCCIÓN DE CALIDAD ASOPROGED</h1>
      <div class="container col-sm-12 fondo">
        <h2 class="text-center col-4 font-weight-bold">BUENAS PRÁCTICAS AGROPECUARIAS<br></h2>
        <p class="text-justify col-4">GEDDANI viene produciendo bajo las normas de Buenas Prácticas Agropecuarias con número de registro N.º EC-H-04-50-PA-HV-2020-001, EC-H-04-50-PA-TR-2020-001 Y EC-H-04-50-PA-TA-2020-001, para los cultivos de hortalizas y verduras, tomate riñón, así como para tomate de árbol respectivamente.</p>
      </div>
    </div>
  </div>
</div>
<div class="container  texto col-xl-10 py-5 d-xl-none d-sm-block">
  <div class="row justify-content-center">
    <h1 class="card-title px-3 col-10 text-center text-wrap">PRODUCCIÓN DE CALIDAD ASOPROGED</h1>
    <div class="container col-10">
      <div class="row justify-content-center">
        <h2 class="text-center col-10">BUENAS PRÁCTICAS AGROPECUARIAS<br></h2>
        <p class="text-justify col-10">GEDDANI viene produciendo bajo las normas de Buenas Prácticas Agropecuarias con número de registro N.º EC-H-04-50-PA-HV-2020-001, EC-H-04-50-PA-TR-2020-001 Y EC-H-04-50-PA-TA-2020-001, para los cultivos de hortalizas y verduras, tomate riñón, así como para tomate de árbol respectivamente.</p>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <h2 class="text-center py-5 lh-lg fw-bolder" style="font-size: 25pt;"> ¿Que son las Buenas Prácticas Agrícolas BPA?</h2>
  <div class="row justify-content-center">
    <div class="col col-sm-8 col-md-8 col-lg-4 col-xl-4 py-3">
      <div class="card" style="width: 19rem; margin: auto">
        <img class="card-img-top" src="assets/bpa.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center py-2">BPA</h2>
          <p class="card-text text-justify">Se refieren a utilizar las mejores prácticas (principios, normas y recomendaciones técnicas) en la producción agrícola a fin de garantizar la calidad e inocuidad del producto final, las BPA Se basan en tres pilares fundamentales:<br><br>
            1. Calidad e inocuidad de los alimentos<br>
            2. Cuidado y manejo del ambiente<br>
            3. Mejorar la seguridad y las condiciones de los agricultores.</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-8 col-md-8 col-lg-4 col-xl-4 py-3">
      <div class="card" style="width: 19rem; margin: auto">
        <img class="card-img-top" src="assets/manejo.jpg" alt="Manejo del ambiente">
        <div class="card-body">
          <h2 class="text-center py-2">MANEJO DEL AMBIENTE</h2>
          <p class="card-text text-justify">La aplicación de prácticas agrícolas adecuadas puede contribuir a la reducción de emisiones de gases de efecto invernadero y la preservación del efecto de sumidero de carbono y la materia orgánica en la composición de los suelos, es por eso que ASOPROGED impulsa las aportaciones positivas, destaca la posibilidad de que los suelos agrícolas acumulen materia orgánica, actuando como sumideros de carbono.</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-8 col-md-8 col-lg-4 col-xl-4 py-3">
      <div class="card" style="width: 19rem; margin: auto">
        <img class="card-img-top" src="assets/agricultura.jpg" alt="AGRICULTORES">
        <div class="card-body">
          <h2 class="text-center py-2">AGRICULTORES</h2>
          <p class="card-text text-justify">El futuro productivo del cantón Chambo no está garantizado. No los defiende ninguna ley de ordenación del suelo agrario, ni elaboramos “informes de sostenibilidad agraria”, pero si establecemos condiciones sustentables para que los agricultores se capaciten sobre la agricultura de calidad y les ofrecemos capacitaciones gratuitas para fortalecer el desarrollo de nuestros productores asociados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="color: #009245;"/>
<div class="container-fluid texto justify-content-center py-3" style="font-size: 13pt;">
  <div class="row justify-content-center">
    <div class="col col-9">
      <h2 class="text-center lh-lg fw-bolder py-3" style="font-size: 25pt; color: seagreen;">“Hacer las cosas bien y dar garantía de ello”</h2>
      <h2 class="py-1 lh-lg fw-bolder py-3">¿CUÁL ES LA IMPORTANCIA DE LAS BUENAS PRÁCTICAS AGRÍCOLAS – BPA?</h2>
        <ol class="lh-lg fw-bolder py-1" style="font-size: 15pt;">
          <li>Mejora de la calidad y garantiza la inocuidad de los productos agrícolas.</li>
          <li>Permite alcanzar la sostenibilidad en la agricultura a largo plazo.</li>
          <li>Nos permite tener mayor control de la producción y mejorar los ingresos económicos.</li>
          <li>Mayores rendimientos con la reducción de los costos de producción y mejorando la productividad.</li>
          <li>Reducir los intermediarios y comercializar los productos directamente con los consumidores finales.</li>
          <li>Permite a los agricultores ser competitivos en nuevos mercados globalizados en donde se exige productos de calidad</li>
          <li>Mejorar el uso de los recursos naturales, la salud de los trabajadores y las condiciones de trabajo.</li>
        </ol>
      <h2 class="py-1 lh-lg fw-bolder">LA IDENTIFICACIÓN DE LOS PRODUCTOS DE CALIDAD ES UN PROCESO PARTICIPATIVO </h2>
      <p class="text-justify py-1">Aparte de la participación de los actores locales, la identificación de las potencialidades de los productos se ve beneficiada si se lleva a cabo de manera participativa en el caso de productos cuya vinculación al origen se ha validado previamente. En efecto, la confrontación de las distintas opiniones de los actores que están interesados en el producto, y que lo conocen bien, permite plantear los términos del debate en base a cuestiones cruciales que a menudo son fuente de controversia. Es frecuente que los productores agrícolas o los fabricantes del producto sigan prácticas diferentes, y que los productos finales tengan características diferentes en mayor o menor medida, es por eso que formar parte de esta Asociación de Productores Agrícolas garantiza la producción de calidad.</p>
      <p class="text-justify py-1">En el caso de la estrategia general iniciado por los responsables de la adopción de decisiones en el marco de sus políticas públicas de la Asociación y los actores de desarrollo a nivel regional o local que serian los productores agrícolas, estos últimos desempeñarán una función fundamental en las fases de identificación (ya que suministran la información sobre los productos de calidad), la definición de la estrategia territorial y de la elaboración del plan de acción para la producción de productos de calidad, y más aún en su desarrollo, esta estrategia es capacitar sobre la calidad de los productos y como producirlos, esta es una de las principales estrategias de  ASOPROGED.</p>
      <p><br></p>
    </div>
  </div>
</div>

