
#navbarNav{
  color: #224676;
  font-weight: bold;
}
.navbar{
  color: #224676;
}
.navbar-brand{

  float: top;
}
.gris{
  position: absolute;
  margin-top: -35px;
  margin-left: 100px;
  float: right;
}

.navbar-expand-lg{
  position: sticky;

}
body{
  color: #224676;
}


.activo a {
  color: #333333;
  font: bold;
}
ul {
  list-style: none;
}

