<div class="container-fluid bg-success">
<br>
</div>
<body class="mat-typography">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid px-4 text-secondary">
    <a class="navbar-brand" href="#"><img class="gris" src="assets/logo-asoproged.png" alt="ASOPROGED" width="130"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      Menú
      <span class="navbar-toggler-icon px-1"></span>
    </button>
    <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-danger">
        <li class="nav-item px-2" >
          <a id="home" class="nav-link active" routerLink="/inicio" aria-current="page">INICIO</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" routerLink="/card">EMPRESA</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" routerLink="/tab">CALIDAD</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" routerLink="/acordion">PRODUCTOS</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" routerLink="/acordion">CHAMBO</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="/acordion"><img src="assets/contacto.png"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="container-fluid align-content-center py-4 bg-dark">
  <p class="text-center text-white">© Copyright 2017 Fausto Oviedo Diseñador Gráfico. All rights reserved. <br><br>
    <a href="index.html">Inicio</a>&nbsp;&nbsp;&nbsp;<a href="#arriba">Servicios</a> &nbsp;&nbsp;&nbsp;<a href="#">Contactos</a> <a href="#" target="_blank">
      &nbsp;&nbsp;&nbsp;<img src="https://user-images.githubusercontent.com/78450336/109360626-8db5fe80-7855-11eb-9d03-4756a21ea6cc.png" alt="Facebook"></a>
    &nbsp;&nbsp;&nbsp;<a href="#" target="_blank"><img src="https://user-images.githubusercontent.com/78450336/109360648-93abdf80-7855-11eb-9b07-c3c193350911.png" alt="Youtube"></a>
    &nbsp;&nbsp;&nbsp;<a href="#" target="_blank"><img src="https://user-images.githubusercontent.com/78450336/109360654-96a6d000-7855-11eb-918c-11cac02afc81.png" alt="Intagram"></a>
  </p>
</footer>
