<div class="card texto col-sm-12 col-md-12">
  <img src="assets/fondo-productos.png" class="card-img" alt="ASOPROGED">
  <div class="card-img-overlay py-2">
    <div class="container-fluid py-5"></div>
    <div class="container col-xl-10 col-sm-12 col-md-12 py-3 d-none d-xl-block">
      <h1 class="card-title px-3 col-4 text-center font-weight-bold" style="font-size: 25pt;">PRODUCCIÓN AGRÍCOLA</h1>
      <div class="container col-sm-12 fondo">
        <p class="text-justify col-4">Las hortalizas sondemucha importancia para la alimentación y buena nutrición de la familia, sushojas, frutos, raíces, tallos y flores son consumidos para satisfacer las necesidades de nuestro organismo, por su alto contenido de minerales, vitaminas y proteínas que contribuyen a mejorar y mantener la buena salud. Hortalizas que se siembran directamente y se cosechan las hojas por ejemplo: lechuga, acelga, apio, perejil, acelga, repollo. Hortalizas que se cosecha el fruto, por ejemplo: tomate, berenjena, pimentón, locoto, haba, vainita. Hortalizas que se cosecha la flor, por ejemplo: coliflor, brócoli, alcachofa.</p>
      </div>
    </div>
  </div>
</div><br><br>
<div class="container  texto col-xl-12 py-3 d-xl-none d-sm-block">
  <div class="row justify-content-center">
    <h1 class="card-title px-5 col-10 text-center text-wrap font-weight-bold py-3" style="font-size: 25pt;">PRODUCCIÓN AGRÍCOLA</h1>
    <div class="container col-12">
      <div class="row justify-content-center">
        <p class="text-justify col-10">Las hortalizas sondemucha importancia para la alimentación y buena nutrición de la familia, sushojas, frutos, raíces, tallos y flores son consumidos para satisfacer las necesidades de nuestro organismo, por su alto contenido de minerales, vitaminas y proteínas que contribuyen a mejorar y mantener la buena salud. Hortalizas que se siembran directamente y se cosechan las hojas por ejemplo: lechuga, acelga, apio, perejil, acelga, repollo. Hortalizas que se cosecha el fruto, por ejemplo: tomate, berenjena, pimentón, locoto, haba, vainita. Hortalizas que se cosecha la flor, por ejemplo: coliflor, brócoli, alcachofa.</p>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12">
    <h2 class="text-center py-2 lh-lg fw-bolder" style="font-size: 25pt;">TODOS NUESTROS PRODUCTOS SON DE CALIDAD</h2>
    </div>
  </div>
</div>

<div class="container py-1">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/brocoli.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">BRÓCOLI</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.50$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/coliflor.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">COLIFLOR</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.50$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/romanesco.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">ROMANESCO</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.60$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">6$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/lechuga-c.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">LECHUGA CRESPA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.40$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">4.5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/lechuga.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">LECHUGA REDONDA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.35$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">4$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/nabo.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">NABO CHINO</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.25$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">2.5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/tomate.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">TOMATE DE ÁRBOL</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.10$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">1.0$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/tomate-c.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">TOMATE RIÑÓN</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.15$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">1.5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/tomate-cherry.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">TOMATE CHERRY</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 1.0$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 12 cajas <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">10$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/cebolla-p.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">CEBOLLA BLANCA NUBE</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.20$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por media docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">2$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/cebolla-perla.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">CEBOLLA PERLA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.20$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por media docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">2$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/cebolla-colorada.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">CEBOLLA COLORADA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.20$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por media docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">2$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/cebolla-b.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">CEBOLLA BLANCA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.80$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 12 atados <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">8$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/cebollin.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">CEBOLLIN / CEBOLLETA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.50$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 12 atados <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/col-m.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">COL MORADA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.40$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">4$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/papas.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">PAPA SUPER CHOLA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.25$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 10 libras <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">2.5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/zanahoria.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">ZANAHORIA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.20$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 10 libras <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">2.0$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/remolacha.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">REMOLACHA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.15$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 10 libras <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">1.5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/zucchini.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">ZUQUINI (AMARILLO)</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.38$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">3.8$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/zucchini-verde.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">ZUQUINI (VERDE)</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.30$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">3$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/frijol.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">FRIJOL</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.40$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 10 libras <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">4$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/arbeja.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">ARBEJA</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.45$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 10 libras <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">4.5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/habas.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">HABAS</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.50$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por 10 libras <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">5$</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3">
      <div class="card shadow" style=" margin: auto">
        <img class="card-img-top" src="assets/productos/choclo.jpg" alt="BPA">
        <div class="card-body">
          <h2 class="text-center" style="font-size: 19pt;">CHOCLO</h2>
          <hr style="color: #009245;"/>
          <div class="card-body" style="color: #224676; font-size: 14pt;">
            <div class="text-center">
              <img src="assets/cart2.svg" style="width: 40px; height: 40px;"> = <button type="button" class="btn btn-success" routerLink="/contactos"> PVP: 0.25$</button>
            </div><br>
            <h4 class="card-text text-center">Precio por docena <b style=" border-radius: 2px; background-color: #224676; color: white; padding:5px; font-size: 13pt;">2.5$</b></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="color: #009245;"/>
