<div class="card texto col-sm-12 col-md-12">
  <img src="assets/foto-collage.png" class="card-img" alt="ASOPROGED">
  <div class="card-img-overlay py-3">
    <div class="container-fluid py-3"></div>
    <div class="container col-xl-10 col-sm-12 col-md-12 py-3 d-none d-xl-block">
      <br>
      <h1 class="card-title px-3 col-4 font-weight-bold">CONTÁCTENOS</h1>
     <div class="col-6">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo">
          <small id="emailHelp" class="form-text text-muted">La factura llegará al correo que se registra</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre y Apellido</label>
          <input type="text" class="form-control" id="exampleInputPassword12" placeholder="Datos personales">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Número de Contacto</label>
          <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Ingrese su número de celular">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre del Producto</label>
          <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Ingrese el nombre del producto">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Total de productos que desea adquirir</label>
          <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Ingrese la cantidad">
        </div>
        <button type="submit" class="btn btn-primary">ENVIAR</button>
      </form>
      </div>
    </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col"><br>
      <h2 class="text-center font-weight-bold py-5">Por favor antes de enviar un mensaje lea nuestras preguntas frecuentes</h2>
      <div class="accordion py-3" style="color: aliceblue" id="accordionExample">
        <div class="card bg-success">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" style="color: aliceblue" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16">
                  <path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0l-4-4.5z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2z"/>
                </svg>
                 ¿Tiene algún recargo el servicio a domicilio?
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body bg-light" style="color: #224676;">
              Los envíos en la zona urbana de la ciudad de Chambo y Riobamba, tienen un recargo de $1. Para otras ciudades solicitar <b>mayor información</b> según sea la ciudad, los pedidos llegan al día siguiente de realizar la compra. En otras ciudades en los días designados para entregas.
            </div>
          </div>
        </div>
        <div class="card bg-secondary">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" style="color: aliceblue" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16">
                  <path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0l-4-4.5z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2z"/>
                </svg>
                ¿Qué métodos de pago disponen?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body bg-light" style="color: #224676;">
              Puedes realizar el pago mediante transferencia bancaria o depósito. También puedes elegir pagar al recibir el producto.
            </div>
        </div>
        <div class="card bg-warning">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" style="color: aliceblue" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16">
                  <path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0l-4-4.5z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2z"/>
                </svg>
                ¿Qué sucede después de realizar mi pedido?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body bg-light" style="color: #224676;">
              Realizamos la confirmación del pedido y la acreditación del pago. Posterior a eso se prepara el pedido y se pone en contacto con el cliente para la entrega, La factura será entregada con el producto, con los datos proporcionados al momento de realizar el pedido.
          </div>
          </div>
        </div>
      </div>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col col-12 py-3">
            <p class="text-center">
              <button type="button" class="btn btn-secondary py-2" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16">
                  <path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0l-4-4.5z"/>
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2z"/>
                </svg>
                MAYOR INFORMACIÓN
              </button>
            </p>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <div class="card py-3" style="margin: auto;">
                <div class="card-body text-black-50 text-justify">
                  Si desean realizar un pedido fuera de la ciudad de Chambo o Riobamba, el valor adicional de envío será dependiendo de la ciudad, <b>(Solo se enviarán productos pasado la docena o al por mayor  NO por unidades)</b> su entrega se realiza con la empresa SERVIENTREGA S.A. y el producto llegará a su domicilio de acuerdo a los datos proporcionados, el tiempo estimado depende de la ciudad donde se haga el pedido, no mayo a 3 días, la factura se enviará conjuntamente con los productos.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container  texto col-xl-10 py-5 d-xl-none d-sm-block">
  <div class="row justify-content-center">
    <h1 class="card-title px-3 col-4 font-weight-bold">CONTÁCTENOS</h1>
    <div class="col-12">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp" placeholder="Ingrese su correo">
          <small id="emailHelp1" class="form-text text-muted">La factura llegará al correo que se registra</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre y Apellido</label>
          <input type="text" class="form-control" id="exampleInputPassword7" placeholder="Datos personales">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Número de Contacto</label>
          <input type="text" class="form-control" id="exampleInputPassword8" placeholder="Ingrese su número de celular">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre del Producto</label>
          <input type="text" class="form-control" id="exampleInputPassword9" placeholder="Ingrese el nombre del producto">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Total de productos que desea adquirir</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ingrese la cantidad">
        </div>
        <button type="submit" class="btn btn-primary">ENVIAR</button>
      </form>
    </div>
  </div>
</div>
</div>
