<div class="card texto col-sm-12 col-md-12">
  <img src="assets/fondo-empresa%20copia.png" class="card-img" alt="ASOPROGED">
  <div class="card-img-overlay py-2">
    <div class="container-fluid py-5"></div>
    <div class="container col-xl-10 col-sm-12 col-md-12 py-3 d-none d-xl-block" style="color: white;">
      <h1 class="card-title px-3 col-4 text-center font-weight-bold">ASOCIACIÓN  DE PRODUCCIÓN AGROPECUARIA GEDDANI “ASOPROGED”</h1>
      <div class="container col-sm-12 fondo">
        <h2 class="text-center col-4 font-weight-bold"> SU HISTORIA<br></h2>
        <p class="text-justify col-4">Asociación de Producción Agropecuaria nace de una ideologia de progreso especialmente para el cantón CHAMBO, este maravilloso lugar esta lleno de personas luchadoras  y con grandes sueños de superración es por eso que la producción agrícola es su principal fuente de ingresos económicos, conocido a nivel nacional como un pueblo lleno de esperanza que da vida por medio de sus productos de calidad que brotan de sus tierras mágicas.</p>
      </div>
    </div>
  </div>
</div>
<div class="container  texto col-xl-10 py-5 d-xl-none d-sm-block">
  <div class="row justify-content-center">
    <h1 class="card-title px-3 col-10 text-center text-wrap">ASOCIACIÓN  DE PRODUCCIÓN AGROPECUARIA GEDDANI “ASOPROGED”</h1>
    <div class="container col-10">
      <div class="row justify-content-center">
        <h2 class="text-center col-10">SU HISTORIA<br></h2>
        <p class="text-justify col-10">Asociación de Producción Agropecuaria nace de una ideologia de progreso especialmente para el cantón CHAMBO, este maravilloso lugar esta lleno de personas luchadoras  y con grandes sueños de superración es por eso que la producción agrícola es su principal fuente de ingresos económicos, conocido a nivel nacional como un pueblo lleno de esperanza que da vida por medio de sus productos de calidad que brotan de sus tierras mágicas.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-auto col-sm-auto py-5">
      <div class="textoinicio2 py-4" style="max-width: 20rem;margin: auto">
        <h2 class="text-center py-3" style="color: #224676"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cloudy-fill" viewBox="0 0 16 16">
          <path d="M13.405 7.027a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 13H13a3 3 0 0 0 .405-5.973z"/>
        </svg> MISIÓN </h2>
        <div class="card-body" style="color: #224676">
          <p class="card-text mr-md-2 ml-md-3">Promover actividades para fomentar el desarrollo productivo de Chambo, con el objetivo de satisfacer las necesidades de la población, a través de alternativas nuevas de mercado con la presentación de productos y servicios que contribuyan al crecimiento de organizaciones, unidades económicas y de producción.<br><br><br><br><br></p>
        </div>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto py-5">
      <div class="textoinicio3 py-4" style="max-width: 20rem;margin: auto">
        <h2 class="text-center py-3" style="color: #224676"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg> VISIÓN </h2>
        <div class="card-body" style="color: #224676">
          <p class="card-text mr-md-3 ml-md-2">Ser una organización referente a nivel local y provincial, estando a la vanguardia de la tecnología, contando con personal especializado; aplicando valores estratégicos como: Responsabilidad Social, calidad en productos y servicios, protección del medio ambiente, sostenibilidad organizativa – financiera y solidaria, con mejora continua.<br><br><br><br></p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr style="color: #009245;"/>
<div class="container-fluid texto justify-content-center py-3" style="font-size: 13pt;">
  <div class="row justify-content-center">
    <div class="col col-10">
      <h2>Asociación de Producción Agropecuaria</h2>
      <p class="text-justify py-3">Las exigencias actuales de instituciones y consumidores se centran en conseguir alimentos más seguros, por ello, el control de calidad se ha convertido en un proceso imprescindible a la hora de asegurar la calidad óptima de los alimentos. Establecida bajo los lineamientos de la Superintendencia de Economía Popular y Solidaria (SEPS), con enfoque social apoyando a los productores.</p>
      <h2 class="py-1">ASOPROGED</h2>
      <p class="text-justify py-3">Promueve formas alternativas para la preparación del terreno, que tratan de reducir la necesidad de mano de obra y la pesadez del trabajo a la vez que fomenta la sostenibilidad de la preparación de la tierra. Teniendo en mente la sostenibididad, conceptos como laboreo reducido y el uso de herramientas y equipos adecuados, pueden contribuir a esta meta común.</p>
      <h2 class="py-1">Operaciones de cultivo</h2>
      <p class="text-justify py-3">Entre las numerosas labores que determinan el rendimiento de un cultivo, la siembra y escarda son de las principales. Unas dosis de siembra adecuadas, con marcos de siembra correctos son cruciales para el desarrollo de la planta. Esto también está relacionado con las condiciones del suelo y el sistema de cultivo. De la siembra a voleo hasta la siembra de precisión neumática, hay toda una gama de herramientas y equipos que pueden mejorar las operaciones de siembra a la vez que se adaptan al contexto económico, social y ambiental del agricultor.</p>
      <p><br></p>
    </div>
  </div>
</div>
<img src="assets/Sembrando.jpg" class="img-fluid justify-content-center" alt="SEMBRANDO">
