<div class="card texto col-sm-12 col-md-12">
  <img src="assets/fondo-web.png" class="card-img" alt="ASOPROGED">
  <div class="card-img-overlay py-2">
    <div class="container-fluid py-5"></div>
    <div class="container col-xl-10 col-sm-12 col-md-12 py-3 d-none d-xl-block">
      <h1 class="card-title px-3 col-4 text-center font-weight-bold">ASOCIACIÓN  DE PRODUCCIÓN AGROPECUARIA GEDDANI “ASOPROGED”</h1>
      <p class="card-text textotitulo text-center col-4">Asociación perteneciente a la SEPS Conformada por pequeños productores del cantón Chambo -Chimborazo</p>
   <div class="container col-sm-12 fondo">
    <h2 class="text-center col-4 font-weight-bold">ASOPROGED<br></h2>
        <p class="text-justify col-4">Fundada el 20 de septiembre del 2016, con el objetivo de fomentar el desarrollo productivo en el cantón Chambo, para alcanzar el desarrollo sostenible y sustentable a largo plazo de la Agricultura, con productos de calidad, preservando el ambiente y buscando el bienestar de los agricultores y de la sociedad en general, a través de la producción y comercialización de productos y servicios con tecnología de punta, normas y estándares para asegurar la calidad. </p>
  </div>
    </div>
  </div>
</div>
<div class="container  texto col-xl-10 py-5 d-xl-none d-sm-block">
  <div class="row justify-content-center">
  <h1 class="card-title px-3 col-10 text-center text-wrap">ASOCIACIÓN  DE PRODUCCIÓN AGROPECUARIA GEDDANI “ASOPROGED”</h1>
  <p class="card-text textotitulo text-center col-10">Asociación perteneciente a la SEPS Conformada por pequeños productores del cantón Chambo -Chimborazo</p>
  <div class="container col-10">
    <div class="row justify-content-center">
    <h2 class="text-center col-10">ASOPROGED<br></h2>
    <p class="text-justify col-10">Fundada el 20 de septiembre del 2016, con el objetivo de fomentar el desarrollo productivo en el cantón Chambo, para alcanzar el desarrollo sostenible y sustentable a largo plazo de la Agricultura, con productos de calidad, preservando el ambiente y buscando el bienestar de los agricultores y de la sociedad en general, a través de la producción y comercialización de productos y servicios con tecnología de punta, normas y estándares para asegurar la calidad. </p>
  </div>
  </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col col-sm bg-danger text-center py-1">
      <img src="assets/cart4.svg" alt="productos" style="width: 50px"><p class="text-white font-weight-bold">PRODUCTOS DE CALIDAD</p>
    </div>
    <div class="col col-sm bg-warning text-center py-2">
      <img src="assets/box-seam.svg" alt="variedad" style="width: 50px"><p class="text-white font-weight-bold">VARIEDAD Y FRESCURA</p>
    </div>
    <div class="col col-sm bg-light text-center py-3">
      <img src="assets/chat-left-text-fill.svg"alt="capacitación" style="width: 40px"><p class="text-dark font-weight-bold">CAPACITACIÓN AGRÍCOLA</p>
    </div>
  </div>
</div>
<div class="container-fluid py-5 justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-auto col-sm-auto py-5">
      <div class="textoinicio1 py-4" style="max-width: 20rem; margin: auto">
        <h3 class="text-center" style="color: #224676"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
        </svg>  ¿QUIÉNES SOMOS?</h3>
        <div class="card-body" style="color: #224676">
          <h5 class="card-title text-secondary ml-md-3">ASOPROGED</h5>
          <p class="card-text mr-md-3 ml-md-2">GEDDANI-“ASOPROGED”, Asociación de Producción Agropecuaria, Establecida bajo los lineamientos de la Superintendencia de Economía Popular y Solidaria (SEPS), con enfoque social apoyando los principios del Buen Vivir, dedicada a la producción y comercialización de hortalizas y verduras bajo estándares de calidad e inocuidad de los productos, bajo las normas de Buenas Prácticas Agropecuarias (BPA)<br><br> <br> </p>
        </div>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto py-5">
      <div class="textoinicio2 py-4" style="max-width: 20rem;margin: auto">
        <h3 class="text-center" style="color: #224676"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cloudy-fill" viewBox="0 0 16 16">
          <path d="M13.405 7.027a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 13H13a3 3 0 0 0 .405-5.973z"/>
        </svg> ¿POR QUÉ NOSOTROS?</h3>
        <div class="card-body" style="color: #224676">
          <h5 class="card-title text-secondary ml-md-3">Denominación de origen</h5>
          <p class="card-text mr-md-2 ml-md-3">Porque GEDDANI es una organización conformada por pequeños productores del cantón Chambo, provincia de Chimborazo con el afán posicionar sus productos, ampliar el mercado de estos, garantizando alta calidad e inocuidad para el consumo humano, cuidado del ambiente y mejorar la calidad de vida de sus agricultores; porque contamos con la Certificación BPA.<br><br><br><br></p>
        </div>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto py-5">
      <div class="textoinicio3 py-4" style="max-width: 20rem;margin: auto">
        <h3 class="text-center" style="color: #224676"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg> ¿DÓNDE ESTAMOS?</h3>
        <div class="card-body" style="color: #224676">
          <h5 class="card-title text-secondary ml-md-3">Localización</h5>
          <p class="card-text mr-md-3 ml-md-3">Dirección: Manuel Neira 03-173 Magdalena Davalos<br>
            Provincia: Chimborazo<br>
            Cantón: Chambo<br>
            Parroquia: Chambo<br>
            Teléfono: 032910284<br>
            Celular: 0994248080<br><br><br><br><br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
